body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.calculator {
    padding: 10px;
    width: 350px;
    height: auto;
}

.display {
    height: 92px;
    border-radius: 16px;
    border: 1px solid;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: 16px;
}

#displayValue {
    width: 100%;
    text-align: right;
    font-weight: bold;
    font-size: 2.2rem;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.row {
    display: flex;
    gap: 12px;
}

#row1 {
    display: flex;
    justify-content: space-between;

}

.btnNumber, .btnOperator , .btnFunction {
    flex: 1;
    height: 62px;
    max-width: 80px;
    min-width: 56px;
    border-radius: 16px;
    border: 1px solid
}